* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f7fc;
    color: #333;
}


header {
    background-color: #4b8725; 
    color: white;
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    color: white;
}

header .logo img {
    height: 40px;
    margin-right: 10px;
}

header .logo span {
    margin-left: 0;
}

header nav ul {
    list-style: none;
    display: flex;
    gap: 30px;
    margin: 0;
    padding: 0;
}

header nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: bold;
    transition: text-decoration 0.3s ease;
}

header nav ul li a:hover {
    text-decoration: underline;
}


main {
    padding: 20px;
}

.quiz-selection-container {
    max-width: 600px;
    margin: 0 auto;
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.quiz-selection-container h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #4CAF50;
}

.quiz-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-group {
    text-align: left;
}

.form-group label {
    font-size: 16px;
    font-weight: bold;
}

.form-group select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
    padding: 12px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #45a049;
}

footer {
    text-align: center;
    margin-top: 30px;
    background-color: #f1f1f1;
    padding: 10px;
}
.back-button-container {
    text-align: left;
    margin: 20px;
}

.back-button {
    background-color: #438412;
    color: #f9fbe7;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.back-button:hover {
    background-color: #33660e;
}
